* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #414141;
}
.container {
  max-width: 1200px;
  border: 2px solid rgb(146, 190, 146);
  margin: 150px auto;
  display: grid;
}
.item {
  background: #8383db;
  color: #fff;
  padding: 4px;
  border: 2px solid black;
}
